.projects{
    background-color: #fff;
    padding: 28px 0;

    &__img{
        width: 471px;
        height: 281.5px;
    }

    h2{
        line-height: 1.2;
    }

    h3{
        line-height: 1.2;
        margin-top: 140px;
    }

    &__links{
        img{
            max-height: 280px;
            max-width: 470px;
        }
    }
}