//****************
// Project Mixins
//****************




/*********************
Box sizing
*********************/

@mixin box-sizing($box-model) {
    -webkit-box-sizing: $box-model; // Safari <= 5
       -moz-box-sizing: $box-model; // Firefox <= 19
            box-sizing: $box-model;
  }
  
  /*********************
  Transitions
  *********************/
  
  @mixin transition($transition-property, $transition-time, $method) {
      -webkit-transition: $transition-property $transition-time $method;
      -moz-transition: $transition-property $transition-time $method;
      -ms-transition: $transition-property $transition-time $method;
      -o-transition: $transition-property $transition-time $method;
      transition: $transition-property $transition-time $method;
  }
  
  /*********************
  Border radius
  *********************/
  
  @mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    border-radius: $radius;
    background-clip: padding-box;
  }
  
  /*********************
  Responsive
  *********************/
  
  @mixin mobile {
    @media (min-width: #{$mobile-break}) {
      @content;
    }
  }
  
  @mixin tablet {
    @media (min-width: #{$tablet-break}) {
      @content;
    }
  }
  
  @mixin desktop {
    @media (min-width: #{$desktop-break}) {
      @content;
    }
  }
  
  @mixin large-desktop {
    @media (min-width: #{$large-desktop-break}) {
      @content;
    }
  }
  
  /*********************
  Font mixin
  *********************/
  
  $breakpoints: (
    mobile : $mobile-break,
    tablet: $tablet-break,
    desktop : $desktop-break
  );
  
  @mixin font-size($fs-map, $fs-breakpoints: $breakpoints) {
    @each $fs-breakpoint, $fs-font-size in $fs-map {
      @if $fs-breakpoint == null {
        @include make-font-size($fs-font-size);
      }
      @else {
        // If $fs-font-size is a key that exists in
        // $fs-breakpoints, use the value
        @if map-has-key($fs-breakpoints, $fs-breakpoint) {
          $fs-breakpoint: map-get($fs-breakpoints, $fs-breakpoint);
        }
        @media screen and (min-width: $fs-breakpoint) {
          @include make-font-size($fs-font-size);
        }
      }
    }
  }
  
  // Utility function for mixin font-size
  @mixin make-font-size($fs-font-size) {
    // If $fs-font-size is a list, include
    // both font-size and line-height
    @if type-of($fs-font-size) == "list" {
      font-size: nth($fs-font-size, 1);
      @if (length($fs-font-size) > 1) {
        line-height: nth($fs-font-size, 2);
      }
    }
    @else {
      font-size: $fs-font-size;
    }
  }
  
  @mixin colour-gradient(){
      background: $gradient-green-dark;
      background: linear-gradient(to left, $gradient-green-light, $gradient-green-dark);
  }