* {
    -webkit-font-smoothing: antialiased;
}

.font-bold {
    font-weight: bold;
}

.font-italic {
    font-style: italic;
}

.dotted-border {
    z-index: 5;
    position: relative;
    &:after{
        content: "";
        position: absolute;
        top: 5px;
        bottom: 0px;
        left: -40px;
        right: 85px;
        border: dotted 4px #f5f7fa;
        transform: translate(-20px, -12px);
        z-index: -1;
    }
    
}

a{
    color: #707070;
    text-decoration: none;
    font-family: go-mono;
}